.wrapper {
  background: #eceaeb;
}
.container {
  width: 435px;
  min-height: 773px;
  margin: 0 auto;
  position: relative;
  background: #eceaeb;
  overflow: auto;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
}
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.container .profile-container {
  position: relative;
  margin-top: 80px;
  float: left;
}
.container .profile-container .user-avatar {
  position: relative;
  width: 228px;
  margin: 40px auto 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container .profile-container .user-information {
  width: 100%;
  font-family: Helvetica;
}
.container .profile-container .user-information .user-name {
  color: black;
  font-size: 21px;
  margin-top: 15px;
}
.container .profile-container .user-information .user-city {
  color: pink;
  font-size: 13px;
  margin-bottom: 10px;
}
.container .profile-container .user-information .user-description {
  font-size: 13px;
}
.container .profile-container .online-chat {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #41ee96;
  position: absolute;
  top: 5px;
  right: -7px;
  z-index: 2;
  text-align: center;
}
.container .profile-container .online-chat span {
  color: white;
  margin-top: 25px;
  display: block;
  font-size: 11px;
  font-family: Helvetica;
}
.container .chat-container {
  position: relative;
  margin: 80px 0 0;
  display: block;
  float: left;
}
.container .chat-container .chat-content {
  margin-bottom: 80px;
}
.container .chat-container .chat-content .receiver-chat {
  position: relative;
  margin-bottom: 20px;
}
.container .chat-container .chat-content .receiver-chat .profile-pic a {
  background-image: url('../assets/profile_avatar_sm.png');
  background-size: 100% 100%;
  width: 40px;
  height: 39px;
  float: left;
  display: block;
  text-decoration: none;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container .chat-container .chat-content .receiver-chat .profile-pic a .online-chat {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: red;
}
.container .chat-container .chat-content .receiver-chat .profile-pic a .online-chat.online {
  background-color: green;
}
.container .chat-container .chat-content .receiver-chat .text-message {
  padding: 10px;
  position: relative;
  font-size: 12px;
  font-family: Helvetica;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  background-color: #4abae0;
  color: white;
}
.container .chat-container .chat-content .receiver-chat .text-message .pin {
  background-image: url('../assets/pin-blue.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0px;
  right: -10px;
  width: 11px;
  height: 10px;
}
.container .chat-container .chat-content .sender-chat {
  position: relative;
  margin-bottom: 20px;
}
.container .chat-container .chat-content .sender-chat .profile-pic a {
  background-image: url('../assets/profile_avatar_send.png');
  background-size: 100% 100%;
  float: right;
  width: 40px;
  height: 39px;
  display: block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container .chat-container .chat-content .sender-chat .text-message {
  padding: 10px;
  position: relative;
  font-size: 12px;
  font-family: Helvetica;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  background-color: #ffffff;
}
.container .chat-container .chat-content .sender-chat .text-message .pin {
  background-image: url('../assets/pin.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -2px;
  left: -9px;
  width: 11px;
  height: 10px;
}
.container.touched {
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  background-color: #faf4fc;
}
.container.touched .add-friend-btn .btn-text {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  background-color: #c7a4ea;
}
.container .header {
  width: 100%;
  height: 40px;
  background-color: #3a3a3a;
  color: white;
  padding-top: 10px;
  position: absolute;
  top: 0;
  z-index: 999;
}
@media only screen and (max-width: 480px) {
  .container .header {
    position: fixed;
  }
}
.container .header .back-btn {
  left: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  color: white;
}
.container .header .back-btn a {
  color: white;
  text-decoration: none;
  background-image: url("../assets/back_btn.png");
  background-size: 100% 100%;
  width: 30px;
  height: 30px;
  display: block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container .header .user-name {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  margin-top: 5px;
}
.container .add-friend-btn {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  left: 0;
  color: white;
  font-family: Helvetica;
  font-size: 12px;
  text-align: center;
}
.container .add-friend-btn .btn-text {
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  background-color: #3a3a3a;
  margin: 0 auto;
  padding: 18px 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container .form-box {
  position: absolute;
  bottom: 10px;
  background: #eceaeb;
}
@media only screen and (max-width: 480px) {
  .container .form-box {
    position: fixed;
  }
}
.container .form-box .message-box {
  font-family: Helvetica;
  font-size: 12px;
}
.container .form-box .message-box input[type=text] {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 5% 7%;
  width: 90%;
  height: 20px;
  line-height: 20px;
  border: 1px solid #fff;
}
.container .form-box .message-box input[type=text]:focus {
  outline: none;
}
.container .form-box .message-box .pin {
  background-image: url('../assets/pin.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: -2px;
  left: -10px;
  width: 11px;
  height: 10px;
}
